<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>CRUD Project</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>EditStory</servlet-name>
        <servlet-class>servlet.EditStory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStory</servlet-name>
        <servlet-class>servlet.DeleteStory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPost</servlet-name>
        <servlet-class>.AllPost</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>EditStory</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllPost</servlet-name>
        <url-pattern>/AllPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scrumTeamReq</servlet-name>
        <url-pattern>/scrumTeamReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskUserUpdate</servlet-name>
        <url-pattern>/TaskUserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewStory</servlet-name>
        <url-pattern>/createNewStory</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>deleteStorycardServ</servlet-name>
        <url-pattern>/deleteStorycardServ</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>teamNotes</servlet-name>
        <url-pattern>/teamNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateScrumDetails</servlet-name>
        <url-pattern>/updateScrumDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSprintDetails</servlet-name>
        <url-pattern>/UpdateSprintDetails</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>updateUserAccess</servlet-name>
        <url-pattern>/updateUserAccess</url-pattern>
    </servlet-mapping>
</web-app>
