/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2017, 11:11:57 AM
    Author     : steven.masters
*/

left{
    position:fixed;
    left: 0%;
    top: 0%;
    width:20%;
    height: 100%;
}



#top{
        background-color: #264475;
    position: fixed;
    left: 20%;
    top: 0%;
    height: 90px;
    width: 60%;
}

#banner_right{
 
    position: fixed;
    right: 0%;
}

#main{
    position: fixed;
    left: 20%;
    top: 125px;
    width:60%;
    height:90%; 
}


#right{
    
    position:fixed;
    right: 0%;
    top: 0%;
    width:20%;
    height: 100%;
}

div#linkhome{
    position: fixed;
    right: 20.1%;
    top: 100px;

}



