/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2017, 4:17:48 PM
    Author     : steven.masters
*/



/* this is the hoover over actiosn below*/ 


.storycard:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.storycard:hover::after {
    opacity: 1;
}


.storycard:hover{
    background-color:#F2F2F2;    
    
    cursor:pointer;  /* you may delete this if you want */
}






/*this is main layout of the story card - when not selected*/
.storycard{
    width: 100%;
    height: 12em;
    background-color:white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin:.5% 2% 3% 1%;
    padding: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position:relative;
}



/* This is the layout of each element inside the story card */
#dates{
    margin: 1px 1px 2px 1px;
    font-size: 11px;
    top: 0%;
    width: 90%;
     
}


#storyname{
    margin: 1px 1px 2px 1px;
    font-size: 16px;
    top: 20%;
    width: 80%;
    height:15%;
    
}

#storynotes{
    font-size: 16px;
    margin: 1px 1px 2px 1px;
    top:40px;
    width: 80%;
    height:15%
}

.user1Task{
    position:relative;
    top: 0px;
    left: 0px;
 }

.user2Task{
        position:relative;
        top: -85px;
        left: 100px;      
}

.user3Task{
        position:relative;
        top: -170px;
        left: 210px;
}


#user1pic{
   
    background: lightblue;
       position: relative;
        top: 1px;
        left: 0px;
    width:95px;
    height: 35%; 
}
#user2pic{
    background: lightblue;
    position: relative;
    top: -83px;
    left: 100px;
    width:95px;
    height: 35%;
}

#user3pic{
    background: lightblue;
      position: relative;
    top: -168px;
    left: 200px;
    width:95px;
    height: 35%;
}




/*   Bug      */
/* Hilights the div in red if bug is select on story card*/

.bug1{
      position: relative;
      
      bottom: -80px;
}
.storycard.bug{
  
    background-color:#F8E0E0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
/* Hilights the div in red if bug is select on story card*/
.storycard.bug:hover{
    
    background-color:#F5A9A9;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
/* Hilights the div in red if bug is select on story card*/
.storycard.nobug{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Hilights the div outshadown in orange if greater then two days*/
.storyneedupdate{

    width: 100%;
    height: 12em;
    background-color:white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin:.5% 2% 3% 1%;
    padding: 2px 2px 2px 2px;
    box-shadow: 2px 4px 2px 2px #F8A409;
    border-radius: 5px;
    -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
 
}
/* Hilights the div outshadown in orange if greater then two days*/
div[id^="storye1"]:hover{
    background-color:#F2F2F2; 
}